In [1]:
import pandas as pd

df = pd.read_csv('Sleep_health_and_lifestyle_dataset.csv')
df.head(10)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
5,6,Male,28,Software Engineer,5.9,4,30,8,Obese,140/90,85,3000,Insomnia
6,7,Male,29,Teacher,6.3,6,40,7,Obese,140/90,82,3500,Insomnia
7,8,Male,29,Doctor,7.8,7,75,6,Normal,120/80,70,8000,NaN
8,9,Male,29,Doctor,7.8,7,75,6,Normal,120/80,70,8000,NaN
9,10,Male,29,Doctor,7.8,7,75,6,Normal,120/80,70,8000,NaN

In [3]:
#Missing data
print(df.isnull().sum())

Person ID                    0
Gender                       0
Age                          0
Occupation                   0
Sleep Duration               0
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 0
Blood Pressure               0
Heart Rate                   0
Daily Steps                  0
Sleep Disorder             219
dtype: int64

In [8]:
categorical_columns = df.select_dtypes(include=['object']).columns
print(categorical_columns)

Index(['Gender', 'Occupation', 'BMI Category', 'Blood Pressure',
       'Sleep Disorder'],
      dtype='object')

In [13]:
#One-hot encoding
df_encoded = pd.get_dummies(df, columns=['Gender','Occupation','BMI Category','Sleep Disorder'])

In [15]:
df_encoded[['Systolic_BP', 'Diastolic_BP']] = df['Blood Pressure'].str.split('/', expand=True).astype(float)

# Drop the original 'Blood Pressure' column
df_encoded = df_encoded.drop(columns=['Blood Pressure'])

# Display the first few rows of the processed dataset
print("\nFirst few rows of the processed dataset:")
print(df_encoded.head())

First few rows of the processed dataset:
   Person ID  Age  Sleep Duration  Quality of Sleep  Physical Activity Level  \
0          1   27             6.1                 6                       42
1          2   28             6.2                 6                       60
2          3   28             6.2                 6                       60
3          4   28             5.9                 4                       30
4          5   28             5.9                 4                       30

   Stress Level  Heart Rate  Daily Steps  Gender_Female  Gender_Male  ...  \
0             6          77         4200          False         True  ...
1             8          75        10000          False         True  ...
2             8          75        10000          False         True  ...
3             8          85         3000          False         True  ...
4             8          85         3000          False         True  ...

   Occupation_Software Engineer  Occupation_Teacher  BMI Category_Normal  \
0                          True               False                False
1                         False               False                 True
2                         False               False                 True
3                         False               False                False
4                         False               False                False

   BMI Category_Normal Weight  BMI Category_Obese  BMI Category_Overweight  \
0                       False               False                     True
1                       False               False                    False
2                       False               False                    False
3                       False                True                    False
4                       False                True                    False

   Sleep Disorder_Insomnia  Sleep Disorder_Sleep Apnea  Systolic_BP  \
0                    False                       False        126.0
1                    False                       False        125.0
2                    False                       False        125.0
3                    False                        True        140.0
4                    False                        True        140.0

   Diastolic_BP
0          83.0
1          80.0
2          80.0
3          90.0
4          90.0

[5 rows x 29 columns]